#netfixlogo {
  width: 88%;
  height: 280px;
  object-fit: cover;
  margin-left: 6%;
  margin-right: 6%;
}

body{
 background: #333;
 margin: 0px;
}

.container {
  position: relative;
  text-align: center;
}

.text111 {
  position: absolute;
  top: 230px;
  left: 44%;
  font-family: Trebuchet MS;
  color: white;
}


#main {
  width: 88%;
  height: 1000px;
  background: #13242d;
  margin: 0 6%;
  box-shadow: 0 0 3px #555;
}

.container1>p{
  position: absolute;
  top: 8px;
  left: 16px;
  margin: 0 6%;
  color: white;
}
